@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;

}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
	padding: 5px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#all_content{
	display:grid;
	grid-template-columns: auto;

}
#maincontent ul {
  background-color: #f3f3f3;
  min-height: 100%;
	text-align: center;

        margin: 1%;
        padding: 1%;



}
#footer {
  /*background-color: #444;
  color: #aaa;*/
	background-color: black;
	color: white;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;

}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
	padding: 1%;
}
nav h1 {
  margin: auto;
	color: 	#C8C8C8;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;

}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */

div.filter-options {
  width: 100%;
  height: 100%;
  background-color: black;  align-items: center;

	padding: 1%;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list li, #reviews-list li{
  text-align: center;
	background-color: #f3f3f3;
	border: 2px solid #C8C8C8;
	margin: 5px;
padding: 10px;
border-radius: 5px;
 display: flex;
 flex-direction: column;


}



#restaurants-list,#reviews-list  {
  list-style: none;
  margin: 2em;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: dense;

}

#restaurants-list  {
  /*grid-template-columns: repeat(auto-fill,minmax(306px, 1fr));*/
	grid-template-columns: repeat(auto-fill,minmax(306px, 1fr));

}
#reviews-list  {
  /*grid-template-columns: repeat(auto-fill,minmax(306px, 1fr));*/
	grid-template-columns: repeat(auto-fill,minmax(306px, 1fr));

}


/*
#restaurants-list{
  text-align: center;
	background-color: #fff;
	border: 2px solid #ccc;
	font-family: Arial,sans-serif;
	margin: 15px;
padding: 10px;


}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;

  text-transform: uppercase;
	display: table-cell;

}
*/

img.restaurant-img{
	min-width:256px;
	max-width: 10vw;
}
/*#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 10px;
  text-align: left;
  /*width: 270px;*/
/*	width: 30%;

}
/*#restaurants-list */



#restaurants-list p {
  margin: 0;
  font-size: 11pt;

}
#restaurants-list  a {
  background-color: black;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: grid;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

}






.name_date{
	padding: 0;
 	margin: 0;
 	list-style: none;
	 display: -webkit-box;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: -webkit-flex;
	 display: flex;
	 -webkit-flex-flow: row wrap;
	 justify-content: space-around;
	 background-color: black;


}

/* ====================== Restaurant Details ====================== */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map {
  background-color: #ccc;
/*  height: 100%;
  width: 100%;*/
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#restaurant-name {
	background-color: #333;
color: #ddd;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;

}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #restaurant-hours {
	width:100%;
	text-align: center;
	display: grid;

}
.res_img{

	 margin-left: auto;
	 margin-right: auto;
}
#reviews-container {
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #fff;

	width: 100%;


}
h2#reviews-container  {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}



#reviews-list  {

	margin: 0;
  padding: 0;
    border: 2px solid #f3f3f3;
/*  display: block; */
  list-style-type: none;

  overflow: hidden;

  width: 100%;

}



table {

  border-collapse: collapse;

  padding: 10px;
  width: 100%;
  table-layout: fixed;
}


table tr {
  background-color: #f7f7f7;
  border: 1px solid #DCDCDC;
  padding: .55em;
}

table th,
table td {
  padding: .615em;
  text-align: center;
}

table th {
  font-size: .78em;
  letter-spacing: .2em;
}





/* start responsive */
* {
    box-sizing: border-box;
}
img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.sectionselect {
  position: relative;

}

select{
	width:100%;
	padding: 5%;
	margin: 10%;
}
.flexcontent{
  display: flex;
	flex-wrap: wrap;
	align-content: center;
}

/*
#map {
		position: relative;
		padding-bottom: 75%; // This is the aspect ratio
		height: 0;
		overflow: hidden;
}
#map iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
}
*/
p.review_name{
		text-align: right;
		font-size: 15pt;
		text-align: left;

		display: inline;
		color: 	#C8C8C8;
}
p.review_date{
	font-size: 15pt;
	text-align: right;


	display: inline;
	color: #606060;
}
.review_score{
	background-color: #f5a800;
	color:white;
	width: 25%;
	text-align: center;

}
li.full_review{
	width: 100%;
 display: block;
 background-color: #ccc;
 margin-bottom: 5%;
}
p.review_text{
	text-align:left;
}

/*
section {
  display: flex;
  flex-wrap: wrap;
}


#footer{
 background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
*/

@media screen and (max-width:500px){
	section {
		background-color: green;
	}
	body{
		font-size: 1.0em;
	}
		#map-container{
			height: 50%;
			width: 100%;
		}
		.main_title{
			font-size: 120%;

		}

}
